<section class="key-features">
    <h2 class="title">{{keyFeaturesSectionConstants.TITLE}}</h2>
    <hr class="black-dash">
    <p class="section-description">{{keyFeaturesSectionConstants.DESCRIPTION}}</p>
  
    <div class="key-features-grid">
      <mat-card class="key-feature-item">
        <img mat-card-image src="assets/loop.svg" alt="loop">
        <mat-card-title>{{keyFeaturesSectionConstants.FEATURE_1.TITLE}}</mat-card-title>
        <p>{{keyFeaturesSectionConstants.FEATURE_1.DESCRIPTION}}</p>
        <img src="assets/ArrowRight.svg" alt="ArrowRight">
      </mat-card>
      <mat-card class="key-feature-item">
        <img src="assets/resume.svg" alt="resume">
        <mat-card-title>{{keyFeaturesSectionConstants.FEATURE_2.TITLE}}</mat-card-title>
        <p>{{keyFeaturesSectionConstants.FEATURE_2.DESCRIPTION}}</p>
        <img src="assets/ArrowRight.svg" alt="Search">
      </mat-card>
      <mat-card class="key-feature-item">
        <img src="assets/CV.png" alt="CV">
        <mat-card-title>{{keyFeaturesSectionConstants.FEATURE_3.TITLE}}</mat-card-title>
        <p>{{keyFeaturesSectionConstants.FEATURE_3.DESCRIPTION}}</p>
        <img src="assets/ArrowRight.svg" alt="ArrowRight">
      </mat-card>
    </div>
  
    <button mat-button class="cta-button">
      <div class="cta-border"></div>
      <div class="cta-text">{{keyFeaturesSectionConstants.BUTTON_TEXT}}</div>
    </button>
  </section>
  