<section class="features">
    <div class="feature-card">
      <div class="icon-container">
        <img [src]="featuresConstants.FEATURE_1.IMAGE_SRC " [alt]="featuresConstants.FEATURE_1.IMAGE_ALT">
      </div>
      <h3>{{ featuresConstants.FEATURE_1.TITLE}}</h3>
      <p>{{ featuresConstants.FEATURE_1.DESCRIPTION}}</p>
    </div>
    <div class="feature-card">
      <div class="icon-container">
        <img [src]="featuresConstants.FEATURE_2.IMAGE_SRC" [alt]="featuresConstants.FEATURE_2.IMAGE_ALT">
      </div>
      <h3>{{ featuresConstants.FEATURE_2.TITLE}}</h3>
      <p>{{ featuresConstants.FEATURE_2.DESCRIPTION}}</p>
    </div>
    <div class="feature-card">
      <div class="icon-container">
        <img [src]="featuresConstants.FEATURE_3.IMAGE_SRC" [alt]="featuresConstants.FEATURE_3.IMAGE_ALT">
      </div>
      <h3>{{ featuresConstants.FEATURE_3.TITLE}}</h3>
      <p>{{ featuresConstants.FEATURE_3.DESCRIPTION}}</p>
    </div>
  
  </section>
  