<div class="container">

    <mat-card>
      <div class="icon-container">
        <span class="lock-icon">
          <mat-icon class="lock">{{ psw_constant.LOCK_ICON }}</mat-icon>
        </span>
      </div>  
    <h1>{{ psw_constant.CHANGE_PSW_TITLE}}</h1>
    <p *ngIf="verificationCodeSent">{{ psw_constant.CHANGE_PSW_SLOGAN}}</p>
    <h4 *ngIf="!verificationCodeSent">{{psw_constant.PASW_HOLDER}}</h4>
    <form
      [formGroup]="forgetPasswordForm"
      (ngSubmit)="
        verificationCodeSent ? resetPassword() : requestVerificationCode()
      "
    >
      <mat-form-field
        *ngIf="!verificationCodeSent"
        appearance="outline"
        class="full-width"
      >
        <mat-label>{{ psw_constant.EMAIL}}</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="{{psw_constant.EMAIL_PLACEHOLDER }}"
        />
        <mat-error
          *ngIf="
            forgetPasswordForm.get('email')?.invalid &&
            forgetPasswordForm.get('email')?.touched
          "
        >
          {{ psw_constant.EMAIL_INVALID_ERROR}}
        </mat-error>
      </mat-form-field>
  
      <mat-form-field
        *ngIf="verificationCodeSent"
        appearance="outline"
        class="full-width"
      >
        <mat-label>{{psw_constant.VERIFICATION_CODE}}</mat-label>
        
        <input
        matInput
        formControlName="verificationCode"
        placeholder="{{psw_constant.CODE_PLACEHOLDER | translate}}"
        required
      />
  
        <mat-error
          *ngIf="
            forgetPasswordForm.get('verificationCode')?.errors &&
            forgetPasswordForm.get('verificationCode')?.touched
          "
        >
          {{ psw_constant.VERIFICATION_CODE_INCORRECT}}
        </mat-error>
      </mat-form-field>
  
      <mat-form-field
        *ngIf="verificationCodeSent"
        appearance="outline"
        class="full-width"
      >
        <mat-label>{{ psw_constant.NEW_PASSWORD}}</mat-label>
        <input
          matInput
          type="password"
          formControlName="newPassword"
          placeholder="{{ psw_constant.PASSWORD_PLACEHOLDER | translate }}"
        />
        <mat-error
          *ngIf="
            forgetPasswordForm.get('newPassword')?.errors &&
            forgetPasswordForm.get('newPassword')?.touched
          "
        >
          {{ psw_constant.PASSWORD_LENGTH_ERROR}}</mat-error
        >
      </mat-form-field>
  
      <button mat-flat-button color="primary" type="submit">
        {{ verificationCodeSent ? ('Reset') : (psw_constant.SEND_CODE) }}
  
      </button>
    </form>
    </mat-card>
    <div class="return-link">
      <mat-icon> {{ psw_constant.ICON_ARROW_BACK }}</mat-icon>
      <a href="/login">{{ psw_constant.RETURN_TO_LOGIN}}</a>
    </div>
  
  </div>
  