.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: auto;
    min-height: 100vh;
    background-color: #ffffff
    
  }
  
  mat-card {
    width: 90%; 
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background: #ffffff;
  }
  h4{
    font-size: 1.5vh;
    color: rgba(165, 161, 161, 0.842);
  }
  
  
  .icon-container {
    background-color: #e0e0e0;
    width: 10vw; 
    height: 10vw; 
    max-width: 80px; 
    max-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .lock-icon mat-icon {
    color: rgba(69, 143, 246, 1);
  }
  .lock{
     width: auto;
      height: auto;
      overflow: hidden;
  }
  
  h1 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
  }
  
  p {
    font-size: 14px;
    color: #555;
    margin-bottom: 24px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  mat-label {
    font-size: 14px;
  }
  
  mat-error {
    font-size: 12px;
    color: #e53935;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(69, 143, 246, 1);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  
  
  .return-link {
    justify-content: center;
    font-size: 14px;
    color: rgba(69, 143, 246, 1);
    display: flex;
    flex-direction: row;
    padding: 5%; 
  }
  
  @media (min-width: 768px) { 
    .return-link {
      padding: 1%; 
    }
  }
  
  .return-link mat-icon {
    font-size: 16px;
    color: rgba(69, 143, 246, 1);
  }
  
  .return-link a {
    color: rgba(69, 143, 246, 1);
    text-decoration: none;
    transition: color 0.3s;
  }
  
  
  
  input::placeholder {
    font-size: 14px;
    color: #aaa;
  }
  
  body {
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  