<div *ngIf="templateType === 'template1'" class="ajout-cv-container">
    <div class="header">
      <h1>{{AjoutJobOfferConstants.TITLE_2}}</h1>
      <p>{{AjoutJobOfferConstants.SMALL_TITLE}}</p>
    </div>
    <div class="breadcrumb">
          <span class="breadcrumb-item">
              {{AjoutJobOfferConstants.ROUTE_OFFRES}}</span>/<span class="active" >{{AjoutJobOfferConstants.UPDATE_OFFRE}}
      </span>
    </div>
    <div class="main-content">
      <div class="form-left">
        <div class="title-section_one">
          <mat-label class="titre-label_one">{{AjoutJobOfferConstants.TITLE_LABEL_1}}</mat-label>
          <mat-form-field appearance="outline" class="full-width">
            <input matInput id="titre"  [(ngModel)]="title"  [placeholder]="AjoutJobOfferConstants.EDIT_OFFER_TITLE_PLACEHOLDER"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="form-right_one">
        <img src="assets/creative-job-posting.png" alt="Upload CV" class="upload-img" />
      </div>
      <div class="action-buttons">
        <button mat-stroked-button color="primary" routerLink="/client/joboffer" class="btn-back">{{AjoutJobOfferConstants.RETOUR}}</button>
        <button mat-raised-button color="primary" class="btn-submit  " (click)="updateOffre()">{{AjoutJobOfferConstants.VALIDER}}</button>
      </div>
    </div>
  </div>
  <div *ngIf="templateType === 'template2'" class="ajout-cv-container">
    <div class="header">
      <h1>{{AjoutJobOfferConstants.TITLE_2}}</h1>
      <p>{{AjoutJobOfferConstants.SMALL_TITLE}}</p>
    </div>
    <div class="breadcrumb">
          <span class="breadcrumb-item">
              {{AjoutJobOfferConstants.ROUTE_OFFRES}}</span>/<span class="active" >{{AjoutJobOfferConstants.UPDATE_OFFRE}}
      </span>
    </div>
    <div class="main-content_two">
      <div class="form-left">
        <div class="title-section">
          <mat-label class="titre-label">{{AjoutJobOfferConstants.TITLE_LABEL_1}}</mat-label>
          <mat-form-field appearance="outline" class="full-width">
            <input matInput id="title" [(ngModel)]="title" #titreInput [placeholder]="AjoutJobOfferConstants.EDIT_OFFER_TITLE_PLACEHOLDER"/>
  
          </mat-form-field>
          <mat-label class="titre-label">{{AjoutJobOfferConstants.COMPANY_LABEL}}</mat-label>
          <mat-form-field appearance="outline" class="full-width">
            <input
              matInput
              id="company"
              [placeholder]="AjoutJobOfferConstants.COMPANY_NAME_PLACEHOLDER"
              [(ngModel)]="company"
            />
          </mat-form-field>
          <mat-label class="titre-label">{{AjoutJobOfferConstants.LOCATION_LABEL}}</mat-label>
          <mat-form-field appearance="outline" class="full-width">
            <input
              matInput
              id="location"
              [placeholder]="AjoutJobOfferConstants.JOB_LOCATION_PLACEHOLDER"
              [(ngModel)]="location"
            />
          </mat-form-field>
          <mat-label class="titre-label">{{AjoutJobOfferConstants.TECHNOLOGIES_LABEL}}</mat-label>
  
          <mat-form-field appearance="outline" class="full-width">
            <input
              matInput
              [placeholder]="AjoutJobOfferConstants.TECHNOLOGIES_PLACEHOLDER"
              [(ngModel)]="technologies"
            />
          </mat-form-field>
  
           <mat-label class="titre-label">{{AjoutJobOfferConstants.SKILLS_LABEL}}</mat-label>
  
          <mat-form-field appearance="outline" class="full-width">
            <input
              matInput
              [placeholder]="AjoutJobOfferConstants.SKILLS_PLACEHOLDER"
              [(ngModel)]="skills"
            />
          </mat-form-field>
        </div>
      </div>


      <div class="form-right">
        <div class="title-section">
      
          <mat-label class="titre-label">{{AjoutJobOfferConstants.DESCRIPTION_LABEL}}</mat-label>
          <mat-form-field appearance="outline" class="full-width">
            <input
              matInput
              id="description"
              [placeholder]="AjoutJobOfferConstants.DESCRIPTION_LABEL_PLACEHOLDER"
              [(ngModel)]="description"
            />
          </mat-form-field>

          <mat-label class="titre-label">{{AjoutJobOfferConstants.SALARY_LABEL}}</mat-label>
          <mat-form-field appearance="outline" class="full-width">
            <input
              matInput
              id="salaire"
              [placeholder]="AjoutJobOfferConstants.SALARY_LABEL_PLACEHOLDER"
              [(ngModel)]="salaire"
            />
          </mat-form-field>

          <!-- <mat-label class="titre-label">{{AjoutJobOfferConstants.START_DATE_LABEL}}</mat-label>
          <mat-form-field appearance="outline" class="full-width">
            <input
              matInput
              id="start_date"
              [placeholder]="AjoutJobOfferConstants.startDateFormatted"
              [(ngModel)]="start_date"
            />
          </mat-form-field> -->

           <mat-label class="titre-label">{{AjoutJobOfferConstants.START_DATE_LABEL}}</mat-label>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ AjoutJobOfferConstants.START_DATE_LABEL}}</mat-label>
  
            <input matInput [matDatepicker]="publishedPicker" [(ngModel)]="startDateFormatted" />
            <mat-datepicker-toggle matSuffix [for]="publishedPicker"></mat-datepicker-toggle>
            <mat-datepicker #publishedPicker></mat-datepicker>
          </mat-form-field>

          <mat-label class="titre-label">{{AjoutJobOfferConstants.LEVEL_LABEL}}</mat-label>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ AjoutJobOfferConstants.EXPERIENCE_LEVEL_LABEL}}</mat-label>
            <mat-select [(ngModel)]="level">
              <mat-option *ngFor="let level of levels" [value]="level">{{
                 level
  
                }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-label class="titre-label">{{AjoutJobOfferConstants.PUBLISHED_DATE_LABEL}}</mat-label>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ AjoutJobOfferConstants.PUBLISHED_DATE_LABEL}}</mat-label>
  
            <input matInput [matDatepicker]="publishedPicker" [(ngModel)]="formattedDate" />
            <mat-datepicker-toggle matSuffix [for]="publishedPicker"></mat-datepicker-toggle>
            <mat-datepicker #publishedPicker></mat-datepicker>
          </mat-form-field>
        </div>
  
      </div>
      <div class="action-buttons">
        <button mat-stroked-button color="primary" routerLink="/client/joboffer" class="btn-back">{{AjoutJobOfferConstants.RETOUR}}</button>
        <button mat-raised-button color="primary" class="btn-submit  " (click)="updateOffre()">{{AjoutJobOfferConstants.VALIDER}}</button>
      </div>
    </div>
  </div>
  