<div class="webcam-modal">
  <div class="header">
    <div class="content">
      <div class="title">
        <div class="meeting-info">

          <h2 mat-dialog-title>{{chatCamConstants.HEADER.TITLE | translate}}</h2>
          <span class="meeting-status" [class.active]="isStreamActive">
            {{ isStreamActive ? ('chatCamConstants.HEADER.STATUS.LIVE' | translate) : ('chatCamConstants.HEADER.STATUS.NOT_CONNECTED' | translate) }}

          </span>
        </div>
      </div>
      <div class="header-controls">
        <button mat-icon-button class="control-btn close-btn" (click)="closeDialog()">
          <span class="material-icons">{{chatCamConstants.HEADER.CLOSE_BUTTON_TOOLTIP | translate}}</span>
        </button>
      </div>
    </div>
  </div>

  <mat-dialog-content class="webcam-content">
    <div class="video-container" [class.active]="isStreamActive">
      <video #videoElement autoplay playsinline class="webcam-video"></video>
      <div class="video-overlay" *ngIf="isStreamActive">
        <div class="user-info">
          <img src="assets/UserAvatar.png" class="user-avatar" alt="User avatar" />
          <span class="user-name">{{chatCamConstants.VIDEO.OVERLAY_USER_INFO.USER_NAME | translate}}</span>
        </div>
      </div>
      <div class="no-camera-message" *ngIf="!isStreamActive">
        <span class="material-icons camera-off-icon">{{chatCamConstants.VIDEO.NO_CAMERA.ICON }}</span>
        <p>{{chatCamConstants.VIDEO.NO_CAMERA.MESSAGE | translate }}</p>
        <p class="subtitle">{{chatCamConstants.VIDEO.NO_CAMERA.SUBTITLE | translate}}</p>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="webcam-actions">
    <div class="controls-container">
      <div class="main-controls">
        <button 
          mat-icon-button 
          class="control-btn camera-control"
          [class.active]="isStreamActive"
          (click)="isStreamActive ? stopCamera() : startCamera()"
          [attr.title]="isStreamActive ? 'Turn off camera' : 'Turn on camera'">
          <span class="material-icons">

            {{ (isStreamActive ? chatCamConstants.ACTIONS.CAMERA_CONTROL.ICON_ON : chatCamConstants.ACTIONS.CAMERA_CONTROL.ICON_OFF)  }}
          </span>
        </button>
      </div>
      <div class="connection-status" *ngIf="isStreamActive">
        <span class="status-dot"></span>
        {{chatCamConstants.ACTIONS.CONNECTION_STATUS.MESSAGE | translate}}
      </div>
    </div>
  </mat-dialog-actions>
</div>