<section class="stats">
    <div class="stat-item">
      <div class="stat-icon">
  
        <img [src]="statsSectionConstants.STAT_ITEM_1.IMAGE_SRC" [alt]="statsSectionConstants.STAT_ITEM_1.IMAGE_ALT " >
      </div>
      <h2>{{ statItem1Value }} </h2>
      <p>{{statsSectionConstants.STAT_ITEM_1.LABEL}}</p>
    </div>
  
    <div class="stat-item">
      <div class="stat-icon">
        <img [src]="statsSectionConstants.STAT_ITEM_2.IMAGE_SRC" [alt]="statsSectionConstants.STAT_ITEM_2.IMAGE_ALT " >
      </div>
      <h2>{{ statItem2Value }}</h2>
      <p>{{statsSectionConstants.STAT_ITEM_2.LABEL}}</p>
    </div>
  
    <div class="stat-item">
      <div class="stat-icon">
        <img [src]="statsSectionConstants.STAT_ITEM_3.IMAGE_SRC" [alt]="statsSectionConstants.STAT_ITEM_3.IMAGE_ALT " >
      </div>
      <h2>{{ statItem3Value }}</h2>
      <p>{{statsSectionConstants.STAT_ITEM_3.LABEL}}</p>
    </div>
  </section>
  