<div class="container">
    <mat-card>
      <div class="icon-container">
        <span class="lock-icon">
          <mat-icon class="lock">lock</mat-icon>
        </span>
      </div>
      <h1>{{passwordConstants.TITLE}}</h1>
      <h4>{{passwordConstants.SLOGAN}}</h4>
      <form [formGroup]="changePasswordForm" class="form-container">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>{{ passwordConstants.OLD_PASSWORD}}</mat-label>
          <input
            type="password"
            matInput
            formControlName="oldPassword"
            placeholder="Ex. Password"
            required
          />
          <mat-hint>{{ passwordConstants.PASSWORD_HINT}}</mat-hint>
          <mat-error
            *ngIf="
              changePasswordForm.get('oldPassword')?.errors &&
              changePasswordForm.get('oldPassword')?.touched
            "
          >
            {{ passwordConstants.PASSWORD_LENGTH_ERROR}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>{{ passwordConstants.NEW_PASSWORD}}</mat-label>
          <input
            type="password"
            matInput
            formControlName="newPassword"
            placeholder="New Password"
            required
          />
          <mat-error
            *ngIf="
              changePasswordForm.get('newPassword')?.errors &&
              changePasswordForm.get('newPassword')?.touched
            "
          >
            {{ passwordConstants.PASSWORD_LENGTH_ERROR}}
          </mat-error>
        </mat-form-field>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          mat-flat-button
          (click)="changePassword()"
        >
          {{ passwordConstants.VALIDER}}
        </button>
      </form>
  
    </mat-card>
    <div class="return-link">
      <mat-icon>arrow_back</mat-icon>
      <a href="/login">{{passwordConstants.RETOUR}}</a>
    </div>
  </div>
  