<section class="why-us">
    <h2 class="title">{{ whyUsConstants.TITLE}}</h2>
    <hr class="black-dash">
    <p class="subtitle">{{ whyUsConstants.SUBTITLE}}</p>
  
    <div class="content">
      <div class="image-container">
        <img [src]="whyUsConstants.IMAGE_SRC" [alt]="whyUsConstants.IMAGE_ALT | translate ">
      </div>
  
      <div class="advantages-container">
        <div class="advantages">
          <mat-card class="advantage-card">
            <img [src]="whyUsConstants.ADVANTAGE_1.IMAGE_SRC" [alt]="whyUsConstants.ADVANTAGE_1.IMAGE_ALT | translate " class="check-icon">
            <div class="text-content">
              <mat-card-title>{{ whyUsConstants.ADVANTAGE_1.TITLE}}</mat-card-title>
              <p>{{ whyUsConstants.ADVANTAGE_1.DESCRIPTION}}</p>
            </div>
          </mat-card>
  
          <mat-card  class="advantage-card">
            <img [src]="whyUsConstants.ADVANTAGE_2.IMAGE_SRC" [alt]="whyUsConstants.ADVANTAGE_2.IMAGE_ALT | translate " class="check-icon">
            <div class="text-content">
              <mat-card-title>{{ whyUsConstants.ADVANTAGE_2.TITLE}}</mat-card-title>
              <p>{{ whyUsConstants.ADVANTAGE_2.DESCRIPTION}}</p>
            </div>
          </mat-card >
  
          <mat-card  class="advantage-card">
            <img [src]="whyUsConstants.ADVANTAGE_3.IMAGE_SRC" [alt]="whyUsConstants.ADVANTAGE_3.IMAGE_ALT | translate" class="check-icon">
            <div class="text-content">
              <mat-card-title>{{ whyUsConstants.ADVANTAGE_3.TITLE}}</mat-card-title>
              <p>{{ whyUsConstants.ADVANTAGE_3.DESCRIPTION}}</p>
            </div>
          </mat-card >
        </div>
      </div>
    </div>
  </section>
  