<footer class="footer">
  <div class="logo">
    <div class="logo2">
      <div class="circle-icon">
        <span class="letter-c">C</span>
      </div>
      <span class="carriere">Carriere</span>
    </div>
  </div>

  <div class="terms-and-condition">
    <div class="language">
      <div class="fran-ais">{{ footerConstants.FRENCH }}</div>
    </div>
    <div class="terms-privacy">{{ footerConstants.TERMS_PRIVACY }}</div>
    <div class="security">{{ footerConstants.SECURITY }}</div>
    <div class="status">{{ footerConstants.STATUS }}</div>
    <div class="_2024-carri-re-llc">{{ footerConstants.COPYRIGHT }}</div>
  </div>

  <button class="scroll-top" (click)="scrollToTopPage()" aria-label="Scroll to top">Top ↑</button>
</footer>
