<div class="container">
  <!-- Logo et Titre -->
  <header class="header">
    <img src="assets/chosa-color.svg" alt="Logo de Chosa" class="logo chosa-logo" />
    <h1 class="section-title">Bienvenue chez Chosa</h1>
  </header>

  <!-- Intro card -->
  <div class="card intro-card">
    <p>
      Chosa est une entreprise spécialisée en conseil informatique, avec une expertise étendue dans le secteur du développement.
      Depuis plus de 13 ans, elle modernise les systèmes d'information pour suivre les évolutions légales, réglementaires et technologiques.
    </p>
  </div>

  <!-- Domaines d'activités -->
  <h2 class="section-title">Domaines d’activités</h2>
  <div class="domains">
    <div class="domain-card">
        <img src="assets/software.png" alt="Développement" class="domain-icon"/>
      <p>Développement</p>
    </div>
    <div class="domain-card">
        <img src="assets/stage.png" alt="Formation" class="domain-icon"/>
      <p>Formation & Stages</p>
    </div>
    <div class="domain-card">
        <img src="assets/startup.png" alt="Incubateur" class="domain-icon"/>
      <p>Incubateur</p>
    </div>
  </div>

  <!-- Coordonnées -->
  <h2 class="section-title">Coordonnées</h2>
<div class="contact-info">
  <div>
    <img src="assets/location.png" alt="Adresse" class="contact-icon" />
    <strong>Adresse :</strong> Montplaisir Immeuble Babel Bloc A
  </div>
  <div>
    <img src="assets/phone.png" alt="Téléphone" class="contact-icon" />
    <strong>Téléphone :</strong> 25 471 106
  </div>
  <div>
    <img src="assets/email.png" alt="Email" class="contact-icon" />
    <strong>Email :</strong> contactchosa.net
  </div>
</div>
</div>
